.controls {
  position: absolute;
  z-index: 9001;
  background-color: black;
  opacity: .5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (orientation: portrait) {
  .controls {
    left: 0;
    right: 0;
    bottom: 0;
    height: 10%;
    flex-direction: row; 
  }
}

@media (orientation: landscape) {
  .controls {
    top: 0;
    right: 0;
    bottom: 0;
    width: 10%;
    flex-direction: column;
  }
}

.action {
  cursor: pointer;
  color: white;
  font-size: 3em;
}

#screenshot {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
}

.hide {
  display: none;
}

#tweetInput {
  z-index: 9001;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 1em;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, .7);
}

#tweetInput > div {
  position: relative;
  width: 100%;
  height: 100%;
}

#statusText {
  width: 100%;
  height: 80%;
  resize: none;
}

#tweetInput button {
  position: absolute;
  bottom: 0;
  right: 0;
}

#counter {
  text-align: right;
  color: white;
}
