body {
  margin: 0;
  font-family: Lato, Helvetica, Arial, Sans-Serif;
  padding-bottom: 3em;
  color: #1d1e22;
}

a {
  color: #b929a2;
  text-decoration: none;
  font-weight: bold;
}

#marker {
  display: block;
  max-width: 3.5em;
  max-height: 3.5em;
}

#ctaContainer .action {
  color: white;
  text-decoration: none;
}

.action {
  background-color: black;
}

.action.cta {
  background-color: #b929a2;
}

img {
  max-width: 90vw;
}

#prize {
  max-height: 30vh; 
  max-width: 50vw;
}

@media (orientation: portrait) {
  body {
    font-size: 3vh;
  }

  header {
    padding-top: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-image: url(https://uploads-ssl.webflow.com/58fe5d0657dd045f17ae2345/5ab8b5e81f33703ce8d722ff_voucherify_index_v2_01.png);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }

  header h1 {
    font-size: 1.4em;
    margin: 0;
    line-height: 1.5;
    margin-bottom: .5rem;
    color: white;
    text-align: center;
  }

  #voucherify {
    position: absolute;
    top: 0;
    left: 0;
  }

  #voucherify img {
    height: 4vh;
  }

  #hubert {
    display: inline-block;
    width: 48vw;
  }

  main {
    padding-bottom: 5vh;
  }

  ol, ul {
    padding: 0;
    padding-right: 4vw;
    margin-left: 9vw;
  }

  ol, ul {
    line-height: 2;
  }

  #ctaContainer {
    line-height: 7vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 2vh 0;
    background-color: white;
    background-image: url(https://uploads-ssl.webflow.com/58fe5d0657dd045f17ae2345/5ab8b5e81f33703ce8d722ff_voucherify_index_v2_01.png);
  }

  #ctaContainer .action {
    padding: 0 10vw;
    font-size: 2.5vh;
    border-radius: 4vh;
  }
}


@media (orientation: landscape) {
  body::before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    background-image: url(https://uploads-ssl.webflow.com/58fe5d0657dd045f17ae2345/5ab8b5e81f33703ce8d722ff_voucherify_index_v2_01.png);
  }

  header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 40vw;
  }

  main {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    padding-bottom: 15vh;
  }

  header h1 {
    display: none;
  }

  #voucherify {
    position: absolute;
    top: 0;
    left: 0;
  }

  #voucherify img {
    height: 7vh;
  }

  #hubert {
    width: 63vh;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  #ctaContainer {
    line-height: 10vh;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: .7em 0;
    width: 60vw;
  }

  #ctaContainer .action {
    padding: 0 5vw;
    font-size: 5vh;
    border-radius: 4vh;
  }

  ol {
    font-size: 5.7vh;
    padding-right: .5em;
  }

  #details ul, p {
    font-size: 5vh;
  }
  
  #details h2 {
    text-decoration: underline;
  }
  
  #details #mapToVoucherify {
    width: 60vw;
  }

  ol, ul {
    line-height: 1.8;
  }
}

.hide {
  display: none;
}

#mediaDevicesMissing {
  padding: .5em .3em;
}
